/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Agharti';
  font-weight: 900;
  src: local('agharti'), url(./fonts/agharti.ttf) format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('inter'), url(./fonts/Inter-Regular.ttf) format('opentype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

